.anhnen{
	margin: auto;
	width: 1000px;
	height: 500px;
	background-image: url("https://i.ytimg.com/vi/_2Ql9BK-K9Q/maxresdefault.jpg");
}

.class1 {
	margin: auto;
	width: 1000px;
	height: 500px;
	background-image: url("https://donghuongkontum.files.wordpress.com/2014/01/c491occ82i-uyecc82n-ucc9bocc9bng-tacc82y-bacc86cc81c.jpeg");
}